@{
    ViewBag.Title = "Game List";
}
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-2">
                    <button class="btn btn-block btn-default add-game">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add Game
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="row">
                <p>Filter:</p>
            </div>
        </div>
    </div>
    <br />
    @Html.Action("_NewGame", controllerName: "Game")
    <div class="col-lg-12">
        <hr />
        <div id="gameList"></div>
    </div>
</div>